boto3==1.7.70
botocore==1.10.70
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.7
django-filter==2.0.0
django-material==1.2.5
django-model-utils==3.1.2
django-notifications-hq==1.5.0
django-storages==1.6.6
docutils==0.14
gunicorn==19.9.0
idna==2.7
jmespath==0.9.3
Pillow==5.2.0
psycopg2==2.7.5
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.3
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
stripe==2.3.0
urllib3==1.23
