{% extends "base.html" %}
{% load material_form %}
{% load static from staticfiles %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    {% for item in cart_items %}
    
    <div>
        <div>
            
            <div>
                <h1>Checkout</h1>
                <h3>{{ item.issue.title }}</h3>
                <p>{{ item.issue.description }}</p>
                <p>Feature Upvotes Quantity: {{ item.quantity }}</p>
                <p>Price: {{ item.issue.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p> Total</p>
    <p>{{ total }}</p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>
    
    <div class="form-group">
        {{ order_form }}
    </div>
    
    <div class="form-group">
        {{ payment_form }}
    </div>

    <div id="credit-card-errors">
            <div class="red" id="stripe-error-message"></div>
    </div>
    
    {% csrf_token %}
    <div class="form-group">
        <button class="btn waves-effect waves-light" id="submit_payment_btn" name="commit" type="submit">Submit Payment</button>
    </div>
    
</form>

{% endblock %}