{% extends 'base.html'%}
{% load material_form %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="card-panel blue-grey lighten-5">
    <div class="row">
        <h1>{{ issue.title }}</h1>
        <p>{{ issue.description }}</p>
        {% if issue.image %}
        <img class="materialboxed" src="{{ MEDIA_URL }}{{ issue.image }}" alt="Issue Image" style="width:100%;height:450px;">
        {% endif %}
        <div class="col s12 m6">
            <p><b>Created: </b>{{ issue.created_date }}</p>
            <p><b>Updated: </b>{{ issue.updated_date }}</p>
            <p><b>Tag: </b>{{ issue.tag }}</p>
            <p><b>Status: </b>{{ issue.status }}</p>
            {% if issue.issue_type == "BUG" %}
            <p><b>Type: </b><i class="material-icons">bug_report</i> {{ issue.issue_type }}</p>
            {% else %}
            <p><b>Type: </b><i class="material-icons">lightbulb_outline</i> {{ issue.issue_type }}</p>
            {% endif %}
            <p><b>Logged by: </b>{{ issue.author }}</p>
        </div>
        <div class="col s12 m6">
            <p><b>Upvotes: </b>{{ issue.upvotes }}
                {% if issue.issue_type == "BUG" %}
                <a class="btn-floating btn-small waves-effect waves-light teal" href="{% url 'upvote' issue.id %}"><i class="material-icons">thumb_up</i></a>
                {% endif %}</p>
            <p><b>Assigned to: </b>{{ issue.assignee }}</p>
            <p><b>Resolved Date: </b>{{ issue.resolved_date }}</p>
            <p><b>Resolved: </b>{{ issue.is_resolved }}</p>
            <a class="btn-floating btn-large waves-effect waves-light yellow" href="{% url 'save_issue' issue.id %}"><i class="material-icons">star</i></a>
            {% if user == issue.author or user.is_staff %}
            <a class="btn-floating btn-large waves-effect waves-light blue" href="{% url 'edit_issue' issue.id %}"><i class="material-icons">edit</i></a>
            {% endif %}
        </div>
    </div>


    {% if issue.issue_type == "FEATURE" %}
    <h5>Purchase Feature Upvotes</h5>
    <form method="post" action="{% url 'add_to_cart' issue.id %}">
        {% csrf_token %}
        <div class="input-group">
            <input name='quantity' type="number" min="1" max="99" class="form-control" placeholder="Quantity">
            <button class="btn waves-effect waves-light" type="submit" name="action" onclick="M.toast({html: 'Added to Cart!'})">Add to Cart
                </button>
        </div>
    </form>
    {% endif %}
    
    

        <!--<div class="col s12 m6">-->
            <h3>Comments <i class="material-icons">comment</i></h3>
            <a class="btn-floating btn waves-effect waves-light green" href="{% url 'new_comment' issue.id %}"><i class="material-icons left">add</i>Add New Comment</a>
            {% for comment in comments %}
            <div class="card-panel blue-grey lighten-4">
                <div class="row">
                    <div class="col s12 m8">
                        <p><b>User: </b>{{ comment.author }} <b>Created: </b>{{ comment.created_date }} <b>Updated: </b>{{ comment.updated_date }}</p>
                        <p><h6><b>Comment: </b>{{ comment.comment }}</p></h6>
                        <h4>Replies</h4>
                        <a class="btn-floating btn-small waves-effect waves-light green" href="{% url 'new_reply' issue.id comment.id %}"><i class="material-icons left">add</i>Add New Reply</a>
                        {% for replies in comment_replies %}
                        {% for reply in replies %}
                        {% if reply.comment == comment %}
                        <div class="card-panel blue-grey lighten-3">
                            <div class="row">
                                <div class="col s12 m8">
                                    <p><b>Created: </b>{{ reply.created_date }} <b>Updated: </b>{{ reply.updated_date }} <b>User: </b>{{ reply.author }}</p>
                                    <p><b>Reply: </b>{{ reply.reply }}</p>
                                </div>
                                <div class="col s12 m4">
                                    {% if user == reply.author or user.is_staff %}
                                    <a class="btn-floating btn-small waves-effect waves-light blue" href="{% url 'edit_reply' issue.id comment.id reply.id %}"><i class="material-icons left">edit</i>Edit Reply</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col s12 m4">
                        {% if user == comment.author or user.is_staff %}
                        <a class="btn-floating btn waves-effect waves-light blue" href="{% url 'edit_comment' issue.id comment.id %}"><i class="material-icons left">edit</i>Edit Comment</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
{% endblock %}