{% extends 'base.html'%}
{% load notifications_tags %}
{% block content %}
<div class="row">
    {% notifications_unread as unread_count %}
    {% if unread_count %}
        You have <strong>{{ unread_count }}</strong> unread notifications. <a href="{% url 'my_notifications' %}"><i class="material-icons">notifications</i>My Updates</a>
    {% endif %}
    <p>{{ issue_count }}</p>
    <form action="{% url 'do_search_my' %}" method="get">
        <input type="text" name="q">
        <button class="btn waves-effect waves-light"  type="submit"><i class="material-icons right">search</i>Search</button>
    </form>
    <ul class="collapsible">
    {% for issue in issues %}
        <li>

        <div class="collapsible-header"><i class="material-icons">expand_more</i>{{ issue.title }} <a href="{% url 'issue_detail' issue.id %}"><i class="material-icons">navigate_next</i></a>
        </div>
        <div class="collapsible-body">
            <p><span><b>Created: </b>{{ issue.created_date }}</span></p>
            <p><span><b>Tag: </b>{{ issue.tag }}</span></p>
            <p><span><b>Upvotes: </b>{{ issue.upvotes }}</span></p>
            <p><span><b>Status: </b>{{ issue.status }}</span></p>
            <p><span><b>Type: </b>{{ issue.issue_type }}</span></p>
            <p><span><b>Logged by: </b>{{ issue.author }}</span></p>
            <p><span><b>Assigned to: </b>{{ issue.assignee }}</span></p>
        </div>
        </li>
    {% endfor %}
    </ul>
    {% if issues.has_other_pages %}
        <ul class="pagination">
            {% if issues.has_previous %}
                <li><a href="?page={{ issues.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %} 
            
            {% for i in issues.paginator.page_range %} 
                {% if issues.number == i %}
                    <li class="active"><a>{{ i }}</a></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %} 
            {% endfor %} 
            
            {% if issues.has_next %}
                <li><a href="?page={{ issues.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %} 
</div>
{% endblock %}