{% extends 'base.html'%}
{% load notifications_tags %}
{% block content %}
<div class="row">
    {% notifications_unread as unread_count %}
    {% if unread_count %}
        <p><a href="{% url 'my_notifications' %}"><span class="new badge red left">{{ unread_count }}</span></a> You have unread notifications.</p>
    {% endif %}
    <p>{{ issue_count }}</p>
    <form action="{% url 'do_search_my' %}" method="get">
        <input type="text" name="q">
        <button class="btn waves-effect waves-light"  type="submit"><i class="material-icons right">search</i>Search</button>
    </form>
    <ul class="collapsible popout">
    {% for issue in issues %}
        <li>

        <div class="collapsible-header"><i class="material-icons">expand_more</i>{{ issue.title }}
        </div>
        <div class="collapsible-body">
                <a class="btn-floating btn-large" href="{% url 'issue_detail' issue.id %}"><i class="material-icons">navigate_next</i></a>
            <p><span><b>Created: </b>{{ issue.created_date }}</span></p>
            <p><span><b>Tag: </b>{{ issue.tag }}</span></p>
            <p><span><b>Upvotes: </b>{{ issue.upvotes }}</span></p>
            <p><span><b>Status: </b>{{ issue.status }}</span></p>
            <p><span><b>Type: </b>{{ issue.issue_type }}</span></p>
            <p><span><b>Logged by: </b>{{ issue.author }}</span></p>
            <p><span><b>Assigned to: </b>{{ issue.assignee }}</span></p>
        </div>
        </li>
    {% endfor %}
    </ul>
    {% if issues.has_other_pages %}
    <ul class="pagination">
        {% if issues.has_previous %}
            <li><a href="?page={{ issues.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><i class="material-icons">chevron_left</i></li>
        {% endif %} 
        
        {% for i in issues.paginator.page_range %} 
            {% if issues.number == i %}
                <li class="active"><a>{{ i }}</a></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} 
        {% endfor %} 
        
        {% if issues.has_next %}
            <li><a href="?page={{ issues.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><i class="material-icons">chevron_right</i></li>
        {% endif %}
    </ul>
    {% endif %} 
</div>
{% endblock %}