{% extends 'base.html'%}
{% load notifications_tags %}
{% block content %}
<h2>My Updates</h2>
<div class="row">
    {% notifications_unread as unread_count %}
    {% if unread_count %}
        You have <strong>{{ unread_count }}</strong> unread notifications.
    {% endif %}
    <div>
    <ul class="collection">
    {% for notification in notifications %}
        <li class="collection-item">
            {{ notification }}
        </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}